.smooth-hover {
    transition: transform 1.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.smooth-hover:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 16px var(--mantle);
}
